.comicPage
  width: 100%
  padding: 0
  margin: 0
  text-align: center
  position: relative
  .bottom
    padding: 70px 50px 0 50px
  h1
    font-family: 'Fredericka the Great', cursive;
    color: #69acaa
    font-size: 50px
    margin-bottom: 20px
    text-align: center
  .comicHolder
    width: 700px
    display: inline-block
    background-color: white
    min-height: 600px
    img
      width: 100%
  .left, .right
    width: 200px
    position: absolute
    top: 200px
  .left
    left: -100px
  .right
    right: -100px
