body
  background-color: #ddd
  // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png")
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/agsquare.png")
  background-attachment: fixed
  text-align: center
.navbar
  border-radius: 0 !important
.container
  text-align: center
.maincontainer
  background-color: white
  width: 960px
  margin: 0
  padding: 0
  display: inline-block
  .col-2
    display: block
    float: left
    width: 640px
    padding: 10px
    margin: 0px
  .col-1
    display: block
    float: left
    width: 320px
    padding: 10px
    margin: 0px
