body
  background-color: #ddd
  // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png")
  // background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/agsquare.png")
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/food.png")
  background-attachment: fixed
  text-align: center
  h1
    // font-family: 'Love Ya Like A Sister'
    font-family: 'Fredericka the Great', cursive
    color: #69acaa
    text-align: left
.header
  background-color: #69ACAA
  // background-image: url('https://cdn-images-1.medium.com/max/2000/1*X0YAhnDmAmUXec83Y1IDZA.jpeg')
  background-position: center
  h1
    font-size: 70px
    padding-top: 50px
    padding-bottom: 10px
    color: white
    margin-top: 0
    text-align: center
  p
    color: white
.navbar
  border-radius: 0 !important
.container
  text-align: center
.maincontainer
  background-color: white
  width: 980px
  margin: 0
  padding: 0
  display: inline-block
  margin-top: 30px
  border-radius: 5px
  padding-bottom: 40px
  margin-bottom: 50px
  @media screen and (max-width: 980px)
    width: auto
  .col-2
    display: block
    float: left
    width: 640px
    padding: 10px
    margin: 0px
  .col-1
    display: block
    float: left
    width: 320px
    padding: 10px
    margin: 0px
.lp0
  padding-left: 0
.p5
  padding-left: 5px
  padding-right: 5px
.navbar .navbar-nav
  display: inline-block
  float: none
.navbar .navbar-collapse
  text-align: center
