.navbar {
  border-radius: 0 !important;
}
.container {
  text-align: center;
}
.comicHolder {
  width: 640px;
  background-color: grey;
  display: inline-block;
}
.thumb {
  width: 200px;
  display: block;
  background-color: pink;
}
.thumb .imghold {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
